<nav>
  <h1><%= link_to 'Bookshelf', routes.books_path %></h1>
  <section class="tools">
    <% if session[:user_id].nil? %>
      <a href="<%= routes.new_authentication_path %>">
        <button class="tool button button-default">Login</button> 
      </a>

      <a href="<%= routes.new_registration_path %>">
        <button class="tool button button-default left-24">Signup</button> 
      </a>
    <% else %>
      <a href="<%= routes.new_book_path %>">
        <button class="tool button button-default">Add Book</button> 
      </a>

      <div class="dropdown">
        <button
          class="tool button button-default button-round button-drop left-24"
          id="buttonDrop"
        >
          AV
        </button> 
        <div id="myDropdown" class="dropdown-content">
          <%= 
            form_for :authentication,
                      routes.authentication_path,
                      method: :delete do
              submit 'Logout', class: 'dropdown-item'
            end
          %>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    <% end %>
  </section>
</nav>
