<h2>All books</h2>

<% if books.any? %>
  <table id="books" class="table table-stripped">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>#</th>
    </tr>
    <% books.each do |book| %>
      <tr id="book-<%= book.id %>" class="book">
        <td class="title"><%= book.title %></td>
        <td class="author"><%= book.author %></td>
        <td class="tools">
          <%= link_to 'View', routes.book_path(id: book.id) %>
          <%= 
            form_for :book, routes.book_path(id: book.id), method: :delete do
              submit 'Delete'
            end
          %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>

<%= link_to 'Add Book', routes.new_book_path %>
