<h2>Book Details</h2>

<div class="book-container">
  <a
    class="book-wrapper"
    id="book-wrapper-<%= book.id %>"
    href="<%= routes.edit_book_path(book.id) %>"
  >
    <%= render partial: 'book', locals: { book: book } %>
  </a>

  <section class="book-sidebar">
    <section class="tools" id="tools-<%= book.id %>">
      <%= 
        form_for :book, routes.book_path(id: book.id), method: :delete do
          submit 'Delete'
        end
      %>
    </section>

    <section class="book-details">
      <section class="detail">
        <h3>Title</h3>
        <p><%= book.title %></p>
      </section>

      <section class="detail">
        <h3>Author</h3>
        <p><%= book.author %></p>
      </section>

      <section class="detail">
        <h3>Description</h3>
        <p><%= book.description %></p>
      </section>
    </section>
  </section>
</div>

<p><%= link_to 'Return', routes.books_path %></p>
