<h2>Book Details</h2>

<div id="book<%= book.id %>">
  <div class="book book#{boo.id}">
    <div class="book-shape"></div>
    <h2><%= book.title %></h2>
    <p><%= book.author %></p>
  </div>
  <%= link_to 'Edit', routes.edit_book_path(book.id) %>
</div>

<br/>

<p><%= link_to 'Return', routes.books_path %></p>