<h2>Book Details</h2>

<div class="book-container">
  <a
    class="book-wrapper"
    id="book-wrapper-<%= book.id %>"
    href="<%= routes.edit_book_path(book.id) %>"
  >
    <%= render partial: 'book', locals: { book: book } %>
  </a>

  <section class="book-sidebar">
    <section class="tools" id="tools-<%= book.id %>">
      <%= 
        form_for :book,
                  routes.book_path(id: book.id),
                  method: :delete do
          submit 'Delete', class: 'tool'
        end
      %>
    </section>

    <%= render partial: 'details', locals: { book: book } %>
  </section>
</div>

<p><%= link_to "Return", routes.books_path %></p>
