<h2>Book Details</h2>

<%= render partial: 'book', locals: { book: book } %>

<section class="tools" id="tools-<%= book.id %>">
  <%= link_to 'Edit', routes.edit_book_path(book.id) %>

  <br/>

  <%= 
    form_for :book, routes.book_path(id: book.id), method: :delete do
      submit 'Delete'
    end
  %>
</section>

<br/>

<p><%= link_to 'Return', routes.books_path %></p>
