<h2>Book Details</h2>

<div class="breadcrumbs">
  <p>
    <%= link_to 'All books', routes.books_path %> /
    <%= book.title %>
  </p>
</div>

<div class="book-container">
  <a
    class="book-wrapper"
    id="book-wrapper-<%= book.id %>"
    href="<%= routes.edit_book_path(book.id) %>"
  >
    <%= render partial: 'book', locals: { book: book } %>
  </a>

  <section class="book-sidebar">
    <section class="tools" id="tools-<%= book.id %>">
      <%= 
        form_for :book,
                  routes.book_path(id: book.id),
                  method: :delete do
          submit 'Delete', class: 'tool button button-danger'
        end
      %>

      <a>
        <button class="tool button button-default">Download</button>
      </a>
    </section>

    <%= render partial: 'details', locals: { book: book } %>
  </section>
</div>
