<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= favicon %>
    <%= stylesheet :application %>
    <%= javascript :application %>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <div class="container">
      <% flash.each do |type, text| %>
        <section id="flash" class="flash flash-<%= type %>">
          <p class="flash-text"><%= text %></p>
          <span id="dismiss" class="dismiss">x</span>
        </section>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
